<!DOCTYPE html>
<html>
  <head>
    <style>
    p{
    text-align:center;
    font-family:verdana;
      color:solidblack;
      background-color:lightgreen;
    }
    h1{
    background-color:skyblue;
    }
    </style>
  </head>
  <body>
    <p id="para1">i am meghana i am from mtiet</p>
    <p>2nd paragraph</p>
    <p>this is third paragraph</p>
    <h1>this will be desplayed with background color skyblue</h1>
  </body>
  
