<!DOCTYPE html>
<html>
  <head>
    <style>
      *{
        color:blue;
        text-align:center;
        background-color:pink;
      }
    </style>
  </head>
  <body>
    <p>this is a pagagraph</p>
    <h1>this is the first heading</h1>
  </body>
  
  
